<h1></h1>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var myChart = Highcharts.chart('container', {
          chart: {
        type: 'spline'
    },
    title: {
        text: 'Ecoli Levels in Chicago Beach Water, 2016 Alerts'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
            month: '%e. %b',
            year: '%b'
        },
        title: {
            text: 'Date'
        }
    },
    yAxis: {
        title: {
            text: 'Ecoli Levels (ppm)'
        },
        min: 0
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
    },

    plotOptions: {
        spline: {
            marker: {
                enabled: true
            }
        }
    },

    colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

    // Define the data points. All series have a dummy year
    // of 1970/71 in order to be compared on the same x axis. Note
    // that in JavaScript, months start at 0 for January, 1 for February etc.
    series: [{
        name: "Ecoli Levels in Chicago Beaches, 2016",
        data: <%= @data %>
    }, ]
  })
});

      

</script>


<div id="container" style="width:100%; height:400px;"></div>


<a href = "/"><button type="button" class="btn btn-primary">Back</button></a>








